Flask
python-dotenv
Werkzeug
gunicorn
Flask-SQLAlchemy
Flask-Login
Flask-Mail
Flask-Migrate
psycopg2-binary
google-generativeai
requests
python-dateutil
email-validator
routes
flask-wtf
sqlalchemy
gtts
speechrecognition
itsdangerous